.contact-inputs-wrap {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: none;
    border-bottom: none;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0;
}
.contact-inputs-wrap:first-of-type {
    padding-top: 50px;
    border-top: 1px solid rgb(206, 212, 218);
}
.contact-inputs-wrap:last-of-type {
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(206, 212, 218);
}
.contact-inputs-wrap:nth-of-type(0n+3) {
    padding-top: 80px;
}
.btn-wrap {
    padding-top: 40px;
    justify-content: flex-end;
}
.contact-inputs {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    outline: none;
    padding-left: 5px;
}