.toolbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: 113px;
    z-index: 90;
}

/*html,*/
/*body {*/
    /*height: 100% !important;*/
/*}*/
