.toolbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: 114px;
    z-index: 90;
}

.toolbar nav {
    height: 100%;
    margin-left: 10px;
}