.navigation-item {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.navigation-item a {
    color: #090909;
    text-decoration: none;
    padding: 8px 10px;
    height: 100%;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: block;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
    border-bottom: 2px solid orangered;
    color: orangered;
}
.navigation-item a:hover{ cursor: pointer; }
