.content {
    background-color: #F9F9F9;
    padding-top: 17vh; /*header height*/
    padding-bottom: 15vh; /*footer height */
    height: 100vh;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
@media screen and (max-width: 1199px) {
    .content {
        height: 100%;
    }
}
@media screen and (max-width: 340px) {
    .content {
        padding-top: 20vh;
    }
}