.Content {
    background-color: #F9F9F9;
    padding-top: 18vh;
    height: 100vh;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
@media screen and (max-width: 1199px) {
    .Content {
        height: 100%;
    }
}
@media screen and (max-width: 340px) {
    .Content {
        padding-top: 20vh;
    }
}