.footbar {
    background-color: #090909e6;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content span {
    border-top: .5px solid #d3d3d373;
    padding-top: 15px;
    width: 205px;
    display: block;
    color: #d3d3d373;
    font-size: 14px;
}

.footbar .container,
.footbar .row,
.footer-content {
    height: 100%;
}